
/* .sozai {
    margin-right: 15px;
} */

/* .sozai::before {
    position: absolute;
    content: "\f067";
    font-family: FontAwesome;
    left: 0px;
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
  } */

/* .recipie {
    font-size: 0.5rem;
}

.skill-header {
    font-size: 1rem;
}

.gousei {
    margin: 3px 0;
}

.monster-label {
    width: 100%;
}

.monster-img {
    width: 100%;
} */

footer {
    height: 3rem;
}

.limit {
    width: 50px;
}