<div class="container">
  <footer class="footer text-left">
    <ul>
      <li>
        <a href="https://github.com/omatztw/tw-card-chef/blob/master/README.md">サイトについて</a>
      </li>
      <li>
        <a href="https://forms.gle/KBqHFqypPMAvUiqh9">ご意見・お問い合わせ</a>
      </li>
      <li>
        <a href="https://github.com/omatztw/tw-card-chef/releases">変更履歴</a>
      </li>
      <li>
        <a href="https://github.com/omatztw/tw-card-chef/issues">不具合対応状況</a>
      </li>
    </ul>
  </footer>
</div>