<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" [routerLink]="['']">
    <img src="assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    TWカードシェフ</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['']">レシピ作成</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/history']">合成履歴</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forms.gle/KBqHFqypPMAvUiqh9">ご意見・お問い合わせ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          その他メニュー
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://github.com/omatztw/tw-card-chef/blob/master/README.md">サイトについて</a>
          <a class="dropdown-item" href="https://github.com/omatztw/tw-card-chef/releases">変更履歴</a>
          <a class="dropdown-item" href="https://github.com/omatztw/tw-card-chef/issues">不具合対応状況</a>
          <a class="dropdown-item" href="https://github.com/omatztw/tw-card-chef/blob/master/PrivacyPolicy.md">プライバシーポリシー</a>
        </div>
      </li>
    </ul>
    <span class="navbar-text">
      Ver {{VERSION}}
    </span>
  </div> -->
</nav>
<div style="text-align:center" class="container-fluid">
  <p>カード仕様変更に伴いサイトを閉鎖します。</p>
  <p>ご利用ありがとうございました。</p>
  <p>2021/6/23 おまつ先生</p>
  <!-- <p>
    <a href="http://talesweaver.nexon.co.jp/">テイルズウィーバー</a>のモンスターカード作成のお手伝いをします。</p>
  <p>取得したいスキルや所持カードを選択すると、モンスターカードの作成手順を算出します(=ﾟωﾟ)</p> -->
  <!-- <app-card></app-card> -->
  <!-- <router-outlet></router-outlet> -->
</div>
