<div class="container" style="font-size: 0.75em;">
  <hr>
  <h2>合成履歴<button type="button" class="btn btn-sm btn-danger clear-history" (click)="onClear()">履歴削除</button></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>日付</th>
        <th>スキル</th>
        <th>所持カード</th>
        <th>着地カード</th>
        <th>Rank10有効</th>
        <th colspan="2" style="width: 1%;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of histories">
        <th>{{item.time | date:'yyyy/M/d'}}</th>
        <th class="text-left">
          <ul>
            <li *ngFor="let skill of item.content.skills">{{skill}}</li>
          </ul>
        </th>
        <th class="text-left">
          <ul>
            <li *ngFor="let exist of convertToName(item.content.exists)">{{exist}}</li>
          </ul>
        </th>
        <th>{{convertToName([item.content.final])}}</th>
        <th [innerHTML]="item.content.isRank10Enabled | enabledDisplay"></th>
        <th style="padding-right: 5px;">
          <button (click)="onRerender(item.content)" class="btn btn-primary btn-sm">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </button>
        </th>
        <th style="padding-left: 0;">
          <button (click)="onDelete(item.content)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i>
          </button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
