<div class="container">
  <hr>
  <h2>合成履歴<button type="button" class="btn btn-sm btn-danger clear-history" (click)="onClear()">履歴削除</button></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>時間</th>
        <th>スキル</th>
        <th>所持カード</th>
        <th>着地カード</th>
        <th>Rank10有効</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of histories">
        <th>{{item.time | date:'yyyy/M/d H:mm'}}</th>
        <th>{{item.content.skills}}</th>
        <th>{{convertToName(item.content.exists)}}</th>
        <th>{{convertToName([item.content.final])}}</th>
        <th [innerHTML]="item.content.isRank10Enabled | enabledDisplay"></th>
        <th>
          <button (click)="onRerender(item.content)" class="btn btn-primary btn-sm">
            <i class="fa fa-eye" aria-hidden="true"></i> 再表示</button>
          <button (click)="onDelete(item.content)" class="btn btn-danger btn-sm">
            <i class="fa fa-trash-o"></i> 削除</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>
